/****************************General Styling***********************************/
h1, p {
  text-align: center;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: aquamarine;
}

/**************************Map Styling*****************************************/

#map {
  height: 80%;
  width: 70%;
  position: absolute;
  margin-left: 25%;
  margin-right: 5%;
  }


/**************************Break Point*****************************************/
@media screen and (max-width: 550px) {
  #map{
    height: 100%;
    width: 100%;
  }

html, body {
    background-color: darkturquoise;
  }
}
